/*salvo modifiche CSS con Ctrl+S poi F5 nel browser per aggiornare html*/

body {
    margin: 0;
    min-height: 100vh;

    background-image: url("img1.jpg");
    

    font-family: "Trebuchet MS", times, serif;
}

h1 {                                       /*h1 = selettore; font-size = regola*/
    font-size: 52px;
}

p {
    font-size: 15px;
    font-weight: 700;
}

#adventureScreen {
    display: none;
}

#homeScreen {
    display: none;
}

.mission {
    background-color: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 15px;
    border: 2px solid #8b0000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.mission p {
    font-size: 14px;
    font-weight: 700;
    margin: 6px 0;
}

.mission h3 {
    font-size: 20px;
    font-weight: 800;
    margin: 8px 0;
}

.screen {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
button {
    background-color: #991414;
    color: white;
    border: none;
    padding: 12px 22px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    background-color: #ca1c1c;
}

@media (max-width: 600px) {

    .screen {
        width: 88%;
        max-width: none;
    }

  .mission {
    padding: 14px;
    margin: 12px 0;
    border-radius: 16px;
}

.mission-character {
    height: 180px;
    border-radius: 12px;
}

.mission h3 {
    font-size: 19px;
}

.mission p {
    font-size: 14px;
}

.mission button {
    width: 100%;
    padding: 11px;
}

.treasure {
    padding: 15px;
    margin: 12px 0;
}

}

#catMission {
    margin: 20px 0;
}

#catMission h3 {
    font-size: 24px;
}

#catMission p {
    font-size: 17px;
}
#catButton {
    margin-top: 15px;
    margin-bottom: 15px;
}

.xpBar {
    width: 100%;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
    border: 2px solid #000000;
}

#xpProgress {
    width: 0%;
    height: 100%;
    background-color: #991414;
    border-radius: 8px;
    transition: width 0.3s ease;
}

.treasure {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin: 15px 0;
    border-radius: 15px;
    border: 2px solid #991414;
}

.treasure h3 {
    font-size: 23px;
    margin-top: 0;
}

.treasure p {
    font-size: 16px;
}

#missionsScreen {
    display: none;
}

#treasuresScreen {
    display: none;
}

#catMission {
    display: none;
}

/* TESORI */

.treasure {
    background: linear-gradient(135deg, #f9de74, #eecc5e);
    padding: 20px;
    margin: 18px 0;
    border-radius: 18px;
    border: 3px solid #ab7e0a;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
}

.treasure h3 {
    font-size: 24px;
    margin-top: 0;
    color: #991414;
}

.treasure p {
    font-size: 16px;
    font-weight: bold;
}

.treasure.locked {
    opacity: 0.65;
    filter: grayscale(0.5);
}

.treasure.unlocked {
    opacity: 1;
    transform: scale(1.02);
    box-shadow: 0 6px 18px rgba(184, 134, 11, 0.45);
}

.treasure.unlocked h3 {
    color: #b8860b;
}

@keyframes treasureUnlock {

    0% {
        transform: scale(0.95);
        opacity: 0;
    }

    100% {
        transform: scale(1.02);
        opacity: 1;
    }

}

.treasure.unlocked {
    animation: treasureUnlock 0.5s ease-out;
}

.mission {
    position: relative;
    overflow: hidden;
    padding: 18px;
    margin: 18px 0;

    background:
        radial-gradient(circle at 15% 20%, rgba(100, 60, 20, 0.20), transparent 25%),
        radial-gradient(circle at 85% 75%, rgba(80, 45, 10, 0.18), transparent 30%),
        radial-gradient(circle at 70% 15%, rgba(255, 245, 200, 0.25), transparent 25%),
        linear-gradient(135deg, #ead39a, #c99b55);

    border: 3px solid #704214;
    border-radius: 16px;

    box-shadow:
        0 6px 14px rgba(0, 0, 0, 0.35),
        inset 0 0 30px rgba(80, 45, 10, 0.25);
}
.mission::before {
    content: "";
    position: absolute;
    inset: 0;

    background:
        radial-gradient(circle at 10% 80%, rgba(60, 35, 10, 0.15), transparent 18%),
        radial-gradient(circle at 90% 20%, rgba(60, 35, 10, 0.12), transparent 20%),
        radial-gradient(circle at 50% 50%, rgba(255, 240, 190, 0.08), transparent 35%);

    pointer-events: none;
    z-index: 0;
}

.mission-character {
    width: 100%;
    height: 210px;
    object-fit: cover;
    object-position: center;
    display: block;

    border-radius: 12px;
    border: 2px solid #704214;

    margin-bottom: 15px;
}

.mission h3 {
    color: #3b2415;
    font-size: 23px;
    margin: 10px 0 12px;

    text-shadow: 1px 1px 0 rgba(255, 235, 180, 0.5);
}

.mission p {
    color: #3b2415;
    font-size: 16px;
    font-weight: bold;
    margin: 7px 0;
}

.mission button {
    margin-top: 12px;
}

.mission::after {
    content: "⚓";
    position: absolute;

    right: 12px;
    bottom: 8px;

    font-size: 28px;
    opacity: 0.25;

    transform: rotate(-15deg);

    z-index: 1;
}

/* SCRITTE PICCOLE E PIÙ SPESSE */

#adventureScreen p,
#homeScreen p,
#welcomeScreen p,
.mission p,
.treasure p,
#catMission p {
    font-size: 20px;
    font-weight: 550;
}

/* Titoli delle missioni */
.mission h3,
.treasure h3,
#catMission h3 {
    font-weight: 800;
}

/* Testi dei pulsanti */
button {
    font-size: 15px;
    font-weight: 600;
}

#catMission h3 {
    font-size: 20px;
    font-weight: 800;
}

#catMission p {
    font-size: 14px;
    font-weight: 700;
}

#catButton {
    font-size: 15px;
    font-weight: 800;
}

#categoryFilters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
}

#categoryFilters button {
    margin: 0;
}

#countdown {
    font-size: 18px;
    font-weight: 800;
    margin: 20px 0;
}

/* =========================
   PROMEMORIA GIORNALIERO
   ========================= */

#dailyReminder,#oscarinoReminder {
    background: linear-gradient(
        135deg,
        #dc2e2e,
        #f5931b
    );

    border: 3px solid #a02b2b;
    border-radius: 15px;

    padding: 15px;
    margin: 20px 0;

    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.25);

    text-align: center;
}

#dailyReminder h3, #oscarinoReminder h3 {
    font-size: 20px;
    margin: 0 0 8px 0;
}

#dailyReminder p, #oscarinoReminder p {
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0 12px 0;
}

#reminderButton {
    font-size: 15px;
}

/* =========================
   TESORO SBLOCCATO
   ========================= */

#treasureOverlay {
    display: none;

    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.75);

    z-index: 9999;

    align-items: center;
    justify-content: center;

    padding: 20px;
}

#treasurePopup {
    width: 90%;
    max-width: 450px;

    background: linear-gradient(
        135deg,
        #e08d35,
        #f47520
    );

    border: 4px solid #862519;
    border-radius: 25px;

    padding: 30px 20px;

    text-align: center;

    box-shadow:
        0 0 30px rgba(255, 215, 0, 0.8);

    animation: treasurePopupAppear 0.5s ease-out;
}

#treasureIcon {
    font-size: 70px;
    margin-bottom: 10px;
}

#treasurePopup h2 {
    font-size: 28px;
    color: #991414;
}

#treasurePopup h3 {
    font-size: 24px;
    margin: 15px 0;
}

#treasurePopup p {
    font-size: 17px;
    font-weight: bold;
}

@keyframes treasurePopupAppear {

    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }

}

/* =========================
   ANIMAZIONE TESORO
   ========================= */

#treasureChest {
    font-size: 85px;

    animation:
        treasureChestAppear 0.7s ease-out,
        treasureChestGlow 1.5s ease-in-out 0.7s infinite alternate;
}

#treasureSparkles {
    font-size: 25px;
    letter-spacing: 10px;

    animation: treasureSparkles 1s ease-in-out infinite alternate;
}

@keyframes treasureChestAppear {

    0% {
        transform: scale(0.2) rotate(-15deg);
        opacity: 0;
    }

    60% {
        transform: scale(1.2) rotate(5deg);
        opacity: 1;
    }

    100% {
        transform: scale(1) rotate(0deg);
    }

}

@keyframes treasureChestGlow {

    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.12);
    }

}

@keyframes treasureSparkles {

    0% {
        opacity: 0.3;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1.2);
    }

}

/* =========================
   TESORO FINALE
   ========================= */

#treasureOverlay.finale {
    background:
        radial-gradient(
            circle,
            rgba(255, 215, 0, 0.35),
            rgba(0, 0, 0, 0.95)
        );
}

#treasureOverlay.finale #treasurePopup {
    background:
        linear-gradient(
            135deg,
            #fff1a8,
            #f2c94c,
            #d4a017
        );

    border: 5px solid #ffd700;

    box-shadow:
        0 0 30px #ffd700,
        0 0 70px rgba(255, 215, 0, 0.8);

    animation:
        finalTreasureAppear 1s ease-out,
        finalTreasureGlow 1.5s ease-in-out 1s infinite alternate;
}

#treasureOverlay.finale #treasureChest {
    font-size: 110px;

    animation:
        finalChestAppear 1.2s ease-out,
        finalChestGlow 1s ease-in-out 1.2s infinite alternate;
}

#treasureOverlay.finale #treasureSparkles {
    font-size: 35px;
}

#treasureOverlay.finale h2 {
    font-size: 32px;
}

#treasureOverlay.finale h3 {
    font-size: 30px;
}

@keyframes finalTreasureAppear {

    0% {
        transform: scale(0.2) rotate(-5deg);
        opacity: 0;
    }

    60% {
        transform: scale(1.08);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }

}

@keyframes finalTreasureGlow {

    0% {
        box-shadow:
            0 0 30px #d79539,
            0 0 60px rgba(249, 222, 67, 0.801);
    }

    100% {
        box-shadow:
            0 0 50px #ffba1a,
            0 0 110px rgba(255, 215, 0, 1);
    }

}

@keyframes finalChestAppear {

    0% {
        transform: scale(0.1) rotate(-20deg);
        opacity: 0;
    }

    60% {
        transform: scale(1.25) rotate(10deg);
        opacity: 1;
    }

    100% {
        transform: scale(1) rotate(0deg);
    }

}

@keyframes finalChestGlow {

    0% {
        transform: scale(1);
        filter: brightness(1);
    }

    100% {
        transform: scale(1.15);
        filter: brightness(1.4);
    }

}

#finalTreasureTitle {
    display: none;
}

#treasureOverlay.finale #normalTreasureTitle {
    display: none;
}

#treasureOverlay.finale #finalTreasureTitle {
    display: block;
    color: #ad2020;
    font-size: 36px;
    text-shadow:
        0 0 10px #df4444,
        0 0 25px #e53535;

    animation: finalTitle 2s ease-out;
}
@keyframes finalTitle {

    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    60% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}
#treasureOverlay.finale #treasureUnlockedTitle {
    color: #ad2020;
}

#treasureOverlay.finale #treasureUnlockedDescription {
    color: #ad2020;
}

#treasureOverlay.finale #treasureChest {
    animation: none;
}

#treasureOverlay.finale #treasureUnlockedTitle,
#treasureOverlay.finale #treasureUnlockedDescription {
    animation: finalTitle 2s ease-out;
}



/* =========================================
   ANIMAZIONI
   ========================================= */

@keyframes finalScreenAppear {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes finalTreasureReveal {

    0% {
        transform:
            scale(0.1)
            rotate(-15deg);

        opacity: 0;
    }

    60% {
        transform:
            scale(1.25)
            rotate(5deg);

        opacity: 1;
    }

    100% {
        transform:
            scale(1)
            rotate(0deg);

        opacity: 1;
    }
}


@keyframes finalTreasureGlow {

    0% {
        filter:
            drop-shadow(0 0 5px gold);
    }

    50% {
        filter:
            drop-shadow(0 0 30px gold);
    }

    100% {
        filter:
            drop-shadow(0 0 8px gold);
    }
}


@keyframes treasureLight {

    0% {
        transform:
            translate(-50%, -50%)
            scale(0.2);

        opacity: 0;
    }

    50% {
        transform:
            translate(-50%, -50%)
            scale(1.2);

        opacity: 1;
    }

    100% {
        transform:
            translate(-50%, -50%)
            scale(1);

        opacity: 0.65;
    }
}


@keyframes sparkleAppear {

    0% {
        opacity: 0;
        transform:
            translate(-50%, -50%)
            scale(0.3);
    }

    50% {
        opacity: 1;
        transform:
            translate(-50%, -50%)
            scale(1.2);
    }

    100% {
        opacity: 0.7;
        transform:
            translate(-50%, -50%)
            scale(1);
    }
}


/* =========================================
   RIVELAZIONE TESORO FINALE
   ========================================= */

#finalReveal {
    position: fixed;
    inset: 0;
    z-index: 10001;
    pointer-events: none;
    overflow: hidden;
}

/* Schermata gialla */
#goldFlash {
    position: absolute;
    inset: 0;
    background: #ffd21c;
    opacity: 0;
}

#goldFlash.active {
    animation: goldFlashAppear 0.45s ease-out forwards;
}



#finalReveal::before {
    content: "✦   ✧   ✦   ✨   ✦   ✧   ✦";

    position: absolute;
    z-index: 2;

    top: 25%;
    left: 50%;

    width: 100%;
    transform: translateX(-50%);

    text-align: center;

    color: #fffde0;
    font-size: 28px;
    letter-spacing: 18px;

    opacity: 0;

    text-shadow:
        0 0 5px #fff,
        0 0 12px #fff6a0,
        0 0 25px #ffd700;
}


#finalReveal.active::before {
    animation: starsGlow 2.5s ease-in-out infinite alternate;
}

@keyframes starsGlow {

    0% {
        opacity: 0.2;
        transform: translateX(-50%) scale(0.8);
        filter: brightness(0.8);
    }

    50% {
        opacity: 1;
        transform: translateX(-50%) scale(1.15);
        filter: brightness(1.8);
    }

    100% {
        opacity: 0.4;
        transform: translateX(-50%) scale(0.9);
        filter: brightness(1);
    }
}



/* FLASH */
@keyframes goldFlashAppear {

    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}


